@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body{
    width: 100%;
    height: 100%;
}
body{
    background-color: #1B2330;
    color: #FFFCFE;
    font-family: 'Open Sans', sans-serif;
    min-width: 370px;
    max-width: 680px;
  
}

header{
    font-family: 'Raleway', sans-serif;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 10px;
}

header > img.logo{
    width: 25%;
}

header > ul{
    display: flex;
}

ul > li, a{
    list-style: none;
    text-decoration: none;
    padding-right: 10px;
    color: #FFFCFE;
} 

main{
    text-align: center;
    min-width: 370px;
    max-width: 680px;
    margin-top: 30px;
} 

 section#bg-curve{
    height: 100vh;
    background: url(../images/bg-curvy-mobile.svg) no-repeat;
    background-size: 122%;
    background-position: 45% 63%;
} 

section#bg-curve > article#get-St > h1 {
    margin-bottom: 20px;
    font-family:'Raleway', sans-serif;
    font-size: 1.8em;
    line-height: 40px;
    font-weight: 700;
   
}

section#bg-curve > article#get-St  > p {
    line-height: 25px;
    font-size: 1.1em;
    font-weight: 400;
   
}
main > section > article#get-St > button{
    background-color: #4EC3D4;
    color: #FFFCFE;
    font-weight: 700;
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    width: 250px;
    height: 50px;
    border-radius: 20px;
    border: none;
    box-shadow: 1px 2px 1px rgba(0, 0, 0, 0.378);
    margin: 25px;
}

main > div#itens-card{
     margin: 25px;
     text-align: center;
} 

div#itens-card > div.card{
    padding: 20px;
    margin: 20px;

}

div#itens-card > div.card > img{
    padding: 20px;
}
div#itens-card > div.card > h2{
     margin: 10px;
     font-family:'Raleway', sans-serif;
}

aside {
    display: block;
    max-width: 600px;
    margin: 20px;
   
}

aside > h2{
    font-family:'Raleway', sans-serif;
}

aside > p{
    margin-top: 25px;
}

aside > button{
     display: flex;
     align-items: center;

     margin-top: 20px;
    
     border: 1px solid #4EC3D4;
     border-top: none;
     border-left: none;
     border-right: none;
     background-color: #1B2330;
}

aside > button > a{
    font-size: 1.3em;
    color: #7ddceb; 
    padding: 10px 0px;
}

aside > button > img{
    margin-left: 10px;
}

div#team-fylo{
    margin: 200px 66px;
    max-width: 600px;
}
div#team-fylo > div.card2{
    background-color: #21293c;
    padding: 15px;
    border-radius: 5px;
    max-width: 600px;
    margin-bottom: 60px;
} 

div.card2 > p{
    text-align: left;
    line-height: 30px;
    font-size: 1em;
    
}

div.card2 > div {
   display: flex;
   align-items: center;

   font-size: .7em;
   margin-top: 30px;
}


div.card2 > div > img{
    border-radius: 50%;
    width: 20%;
    margin: 10px;
}

div#early-access{
    position: relative;
    top: -168px;
    left: 40px;
    max-width: 300px;
    height: 450px;
    padding: -8px;
    margin: 35px 4px;
    background-color: rgb(27, 35, 48);
    border: 1px solid black;
    border-radius: 10px;
    text-align: center;
   
}

div#early-access > h2{
     padding: 30px;
     font-weight: 400;
}

div#early-access > p{
    margin-bottom: 50px;
   
}

div#early-access > div{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-left: 20px;
    
}

div#early-access > div > input{
    width: 250px;
    padding: 20px;
    border-radius: 30px;
    margin-bottom: 15px;
    border: none;
}
div#early-access > div > button{
    width: 250px;
    padding: 20px;
    border: none;
    border-radius: 30px;
    background-color: #7ddceb;
    color:#FFFCFE;
    font-size: 1em;

}

footer{
    position: absolute;
    
    background-color: #0c1524;
    margin-top: 25px;
}

footer > img{
    margin-left: 20px;
}

footer > div#info > p{
    
    text-align: left;
   
    padding-top: 25px;
    margin: 20px;
   
}

footer >nav > ul > li{
    margin: 20px;
    font-size: 1.2em;
}

div#social{
    font-size: 2em;
    text-align: center;
    margin: 20px;
}